<style></style>
<input value="" placeholder="use below url" [(ngModel)]="username" />

<button (click)="searchUser()" type="button" name="button">Search</button>

<div class="row">
  <div *ngFor="let user of users$ | async" class="col-md-4 col-sm-6 col-12">
    <!-- <pre> {{ user | json }}</pre> -->

    <div class="card">
      <img src="{{ user.avatar_url }}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ user.login }}</h5>
        <h4>{{ user.id }}</h4>
      </div>
    </div>
  </div>
</div>
